<!-- home.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">



</head>
<body>
         
  
  <!-- navebar ---------------------->
    
    
    <nav class="navbar navbar-expand-lg navbar-light bg-primary" style="position: fixed; width: 100%;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" style="font-size:40px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; margin-left: 50px;" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">FIXIT</a>

          

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
         
            <div class="container" style="margin-left: 850px; font-size: 20px;">
                <ul class="navbar-nav" >
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                      </li>
                      <li class="nav-item" style="padding-left: 30px;">
                        <a class="nav-link" href="{% url 'about' %}">About</a>
                      </li>
                      <li class="nav-item" style="padding-left: 30px;">
                        <div>
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown"  href="#service">Services</a>
                        <ul class="dropdown-menu" style="margin-left: 1200px; background-color: #cdc9f8;">
                            <li><a class="dropdown-item" href="{% url 'plumbing' %}">PLUMBING</a></li>
                            <li><a class="dropdown-item" href="{% url 'electrician' %}">ELECTRICIAN</a></li>
                            <li><a class="dropdown-item" href="{% url 'gardening' %}">GARDENING</a></li>
                            <li><a class="dropdown-item" href="{% url 'cleaning' %}">CLEANING</a></li>
                            <li><a class="dropdown-item" href="{% url 'painting' %}">PAINTING</a></li>
                          </ul>
                    </div>
                      </li>
                      <li class="nav-item"style="padding-left: 30px;">
                        <a class="nav-link" href="{% url 'contactus' %}">ContactUs</a>
                      </li>
                      
                    </ul>
            </div>    
        </div>    
    </div>    
    
  </nav>

<!-- offcanvas -------------------------->


  <div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel" style="background-color: #cdc9f8;">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="staticBackdropLabel">FIXIT</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="d-flex flex-column gap-3">
        <a href="user_reg/" class="btn btn-primary">User Registration</a>
        <a href="user_login/">Already a User?</a>
        <a href="workerregister/" class="btn btn-success">Worker Registration</a>
        <a href="worker/login/">Already a Worker?</a>
        
      </div>
    </div>
  </div>
            
    
    <!-- homepage ---------------------------------->



    <section class="slider_section " >
        <div class="container ">
          <div class="row">
            <div class="col-md-6 ">
              <div class="detail-box">
                <h1>
                  Renovation and <br>
                  Maintenance <br>
                  Services
                </h1>
                <p style="font-size: 20px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                    We provide the best renovation and maintenance services in the city. Our services are available 24/7. We provide services like plumbing, electrician, gardening, cleaning, painting, etc.
                </p>
                <a href="{% url 'services' %}" style="text-decoration: none;   ">
                  Book Our Service
                </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box">
                <img style="height: 600px; width: 700px;  margin-top: 120px;" src="{% static 'images/19199324.jpg' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- homepage end----------------------------- -->


      
    
      
      









    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>