.slider_section {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-size: cover;
    background-position: bottom;
  }
  
  .slider_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .slider_section #customCarousel1 {
    width: 100%;
    position: unset;
  }
  
  .slider_section .detail-box {
    padding-bottom: 90px;
  }
  
  .slider_section .detail-box h1 {
    font-weight: bold;
    margin-bottom: 25px;
    color: #2575fc;;
  }
  
  .slider_section .detail-box p {
    color: #444;
    font-size: 15px;
  }
  
  .slider_section .detail-box a {
    display: inline-block;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    padding: 10px 45px;
    background-color: #ff8a1d;
    border: 1px solid #ff8a1d;
    border-radius: 5px;
    color: #fffdfd;
    margin-top: 15px;
  }
  
  .slider_section .detail-box a:hover {
    background-color: white;
    color: #ec7a08;
  }
  
  .slider_section .img-box img {
    width: 100%;
  }