body {
    background: linear-gradient(135deg, #432626, #6a11cb);
    height: 100vh;
    font-family: Arial, sans-serif;
}
.register-container {
    background-color: #432626;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
    color: #fff;
    width: 100%;
    max-width: 500px;
    margin-left: 500px;
    margin-top: 50px;
}
.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}
.form-control {
    
   border-radius: 3px;
   border-color: #432626;
    
}

.btn-register {
    background-color: #ffcc00;
    border: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    
  }

  .btn-register:hover{
    background-color: white;
    color: #ffcc00;
  }
.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    color: #fff;
    transition: 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #ffdf6c;
}
.dropdown-menu {
    background-color: #007bff;
}

.dropdown-item {
    color: #fff;
    transition: background-color 0.3s;
}

.dropdown-item:hover {
    background-color: #0056b3;
}



